table,
input,
label {
  font-size: 1.2rem;
  font-family: monospace;
  margin: 0.5rem auto;
}
#checkitem {
  margin-right: 0.5rem;
}
h2 {
  text-align: center;
}
table {
  text-align: center;
  display: block;
}

td {
  text-align: center;
  padding: 0.3rem;
}
th {
  padding-right: 1rem;
  text-align: center;
}

input[type="number"] {
  display: block;
}

tr:nth-child(even) {
  background: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}
#checkbox {
  display: flex;
  align-items: stretch;
}
